on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
name: Go Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.12, 1.13]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Test
        run: go test ./...
