on:
  push:
    branches:
      - v1
  pull_request:
    branches:
      - v1

name: golangci-lint
jobs:
  golangci:
    strategy:
      matrix:
        go-version:
          - "1.20"
          - "1.19"
          - "1.18"
          - "1.17"
          - "1.16"
    name: lint and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.7.0
        with:
          version: v1.53.1
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: test
        run: make test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
